extends main-frame.pug

block content
    .text-center
        h1.not-authorized You must be logged in to visit this page!
        a#btn-login-unauthorized.btn.btn-md.btn-warning(href="/login") Login or Register